@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
:root {
  --green: #02897a;
  --black: #22343d;
  --white: #fff;
  --light-blue: #4d8dff;
  --violet: #740a76;
  --pink: #f03e3d;
  --orange: #c1301d;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}
 /*Zuhriddin */
:root {
    --white: #FFFFFF;
    --Mont: "Montserrat", sans-serif;
}

header {
    background-image: url(./Images/header_background_image.png), url(./Images/header_background_image2.jpg);
    width: auto;
    background-size: cover;
    min-height: 674px;
}

body {
    margin: auto;
}

nav {
    max-width: 72%;
    display: flex;
    justify-content: space-between;
    min-height: 24px;
    min-height: 24px;
    padding-top: 31px;
    margin: auto;
}

.logo {
    max-width: 79px;
    min-height: 24px;
    display: flex;
    align-items: center;
}

/* Zuhriddin */
header .logo span {
    font-family: var(--Mont);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: var(--white);
}

header .links ul {
    list-style: none;
    display: flex;
    gap: 26px;
}

header .links ul li {
    font-family: var(--Mont);
    font-size: 13px;
    font-weight: 700;
    line-height: 15.85px;
    text-align: left;
    color: var(--white);
}

.links {
    min-height: 16px;
    top: 0px;
}

h1 {
    font-family: var(--Mont);
    font-size: 41px;
    font-weight: 700;
    line-height: 49.98px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}

.welcome {
    width: 100%;
    min-height: 175px;
    margin-top: 220px;
}

.welcome p {
    font-family: var(--Mont);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
    color: var(--white);
}

.welcome button {
    background-color: rgba(5, 2, 2, 0);
    border-style: none;
    border: 2px solid var(--white);
    width: 158px;
    min-height: 45px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--Mont);
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    margin-left: 43%;
}
/* Zuhriddin */

/* mirjalol */
.about{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.about h1{
  color: var(--text-color);
  padding-top: 4%;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

.about p{
  color: var(--text-color);
  font-size: 11px;
  font-weight: 500;
}

.about .row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about .col-1{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 490px;
}

.about .pic{
  justify-content: space-between;
  display: flex;
}


/* mirjalol */



